[submodule "client"]
    path = client
    url = https://github.com/james868198/nuxt-Avalon-client.git
    branch = master

[submodule "server"]
    path = server
    url = https://github.com/james868198/nuxt-Avalon-GameServer.git
    branch = master